# Defaults for knxd initscript
# sourced by /etc/init.d/knxd
# installed at /etc/default/knxd by the maintainer scripts

#
# This is a POSIX shell fragment
#

# Additional options that are passed to the Daemon.
START_KNXD=YES

DAEMON_ARGS="-D -R -T -S -i --no-tunnel-client-queuing --daemon=/var/log/knxd.log ipt:{{ knx_gateway }}"
